{% extends "base.html" %}

{% block title %}All Posts{% endblock %}

{% block content %}
  <h2>All Blog Posts</h2>
  <ul class="post-list">
    {% for post in posts %}
      <li class="post-item">
        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
        <p>{{ post.content|truncatechars:150 }}</p>
        <small>
          Posted by {{ post.author.username }} on {{ post.published_date|date:"M d, Y H:i" }}
        </small>
      </li>
    {% empty %}
      <li>No posts available.</li>
    {% endfor %}
  </ul>
{% endblock %}