{% extends 'blog/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<h2>Edit Profile</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <fieldset>
        <legend>User Info</legend>
        {{ user_form.as_p }}
    </fieldset>

    <fieldset>
        <legend>Profile Info</legend>
        {{ profile_form.as_p }}
    </fieldset>

    <button type="submit">Save Changes</button>
</form>

{% if user.userprofile.profile_picture %}
    <h3>Profile Picture</h3>
    <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" width="150">
{% endif %}
{% endblock %}